ul{
    list-style: none;
    display: inline-block;
    border:3rem;
    background-color: rgb(253, 248, 242);
    padding: 2rem;
    margin-inline: 2rem;
}
.img{
   
}
.ul{
  display: flex;
  justify-content: space-between;
  color:blue;
}
div{

}