.header{
    padding-left: 30%;
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
 

    
}


